In [1]:
import pandas as pd
import numpy as np
import scipy
from scipy.stats import norm
import seaborn as sns
import matplotlib.pyplot as plt
import os

In [2]:
df = pd.read_parquet('data/asos_digital_experiments_dataset.parquet')

In [3]:

df

,experiment_id,variant_id,metric_id,time_since_start,count_c,count_t,mean_c,mean_t,variance_c,variance_t
0,036afc,2,1,1.5,188065.0,186686.0,0.107808,0.107828,0.096186,0.096201
1,036afc,2,1,2.0,245041.0,243694.0,0.131790,0.131435,0.114422,0.114160
2,036afc,2,1,2.5,277237.0,275949.0,0.143065,0.142711,0.122598,0.122345
3,036afc,2,1,3.0,315689.0,314676.0,0.161789,0.160997,0.135613,0.135077
4,036afc,2,1,3.5,338631.0,337715.0,0.172474,0.171067,0.142727,0.141803
...,...,...,...,...,...,...,...,...,...,...
24148,fdaf62,1,4,28.0,2182559.0,2180705.0,38.270483,38.858464,8478.894092,8708.839083
24149,fdaf62,1,4,29.0,2259937.0,2257899.0,38.485748,39.065107,8627.264583,8821.982824
24150,fdaf62,1,4,30.0,2341537.0,2339309.0,38.691410,39.211843,8916.435308,8848.559719
24151,fdaf62,1,4,31.0,2422152.0,2419745.0,38.705264,39.263485,8836.078773,8884.955277
24152,fdaf62,1,4,32.0,2478580.0,2475916.0,38.962364,39.554518,9077.322251,9215.231273

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24153 entries, 0 to 24152
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   experiment_id     24153 non-null  object
 1   variant_id        24153 non-null  int64
 2   metric_id         24153 non-null  int64
 3   time_since_start  24153 non-null  float64
 4   count_c           24153 non-null  float64
 5   count_t           24153 non-null  float64
 6   mean_c            24153 non-null  float64
 7   mean_t            24153 non-null  float64
 8   variance_c        23375 non-null  float64
 9   variance_t        23374 non-null  float64
dtypes: float64(7), int64(2), object(1)
memory usage: 1.8+ MB

In [5]:
print(f'NÃºmero de experimentos Ã¹nicos: {df.experiment_id.nunique()}')

NÃºmero de experimentos Ã¹nicos: 78

In [6]:
for col_name in df.columns:
    print(f'Column Name: {col_name}\n')
    print(df[col_name].value_counts())
    print("="*20)

Column Name: experiment_id

experiment_id
54a85a    1152
2c8a04     984
81761c     928
b382c6     848
329386     792
          ...
591c2c      48
b2da2e      32
cf1b96      28
a1e2bf      16
84f653       8
Name: count, Length: 78, dtype: int64
====================
Column Name: variant_id

variant_id
1    17737
2     5740
0      384
3      284
4        8
Name: count, dtype: int64
====================
Column Name: metric_id

metric_id
1    6039
2    6038
3    6038
4    6038
Name: count, dtype: int64
====================
Column Name: time_since_start

time_since_start
9.5      280
10.5     280
12.5     280
11.5     280
8.5      280
        ...
120.5      4
121.5      4
121.0      4
131.0      4
130.5      4
Name: count, Length: 260, dtype: int64
====================
Column Name: count_c

count_c
2215086.0    80
1838045.0    56
3363506.0    48
1281148.0    40
3892143.0    40
             ..
684715.0      4
689254.0      4
692178.0      4
696696.0      4
616595.0      4
Name: count, Length: 4642, dtype: int64
====================
Column Name: count_t

count_t
3364553.0     48
2213929.0     40
2214970.0     40
1282286.0     40
23005892.0    40
              ..
71049.0        4
70679.0        4
69687.0        4
69317.0        4
76112.0        4
Name: count, Length: 5862, dtype: int64
====================
Column Name: mean_c

mean_c
0.173142    20
0.263041    20
0.155729    14
0.218448    14
0.059062    10
            ..
1.127663     1
1.117706     1
1.095727     1
1.086299     1
1.056192     1
Name: count, Length: 18830, dtype: int64
====================
Column Name: mean_t

mean_t
0.121228    10
0.141891    10
0.262801    10
0.075069    10
0.451388    10
            ..
0.255363     1
0.252189     1
0.243861     1
0.240811     1
0.308270     1
Name: count, Length: 23786, dtype: int64
====================
Column Name: variance_c

variance_c
0.143164    20
0.131478    14
0.055573    10
0.171799    10
0.106774    10
            ..
0.249744     1
0.249852     1
0.249902     1
0.249975     1
0.246713     1
Name: count, Length: 18353, dtype: int64
====================
Column Name: variance_t

variance_t
0.143180     10
0.106532     10
0.143284     10
0.056806     10
0.000000      9
             ..
18.323822     1
18.090255     1
17.808206     1
17.683235     1
20.527664     1
Name: count, Length: 23179, dtype: int64
====================

In [18]:
df['experiment_id'].value_counts().sort_values(ascending=False)

experiment_id
54a85a    1152
2c8a04     984
81761c     928
b382c6     848
329386     792
          ...
591c2c      48
b2da2e      32
cf1b96      28
a1e2bf      16
84f653       8
Name: count, Length: 78, dtype: int64

In [20]:
experiment_id = df['experiment_id'].value_counts().idxmax()

Selecionando o experimento com maior numero

In [38]:
exp = df.loc[(df['experiment_id'] == 'b382c6') & (df['metric_id'] == 1) ]
print(exp.shape)
exp.head(10)

(212, 10)

,experiment_id,variant_id,metric_id,time_since_start,count_c,count_t,mean_c,mean_t,variance_c,variance_t
16577,b382c6,1,1,1.0,23521.0,23523.0,0.079716,0.083408,0.073361,0.076451
16578,b382c6,1,1,1.5,31410.0,31474.0,0.089080,0.092616,0.081145,0.084038
16579,b382c6,1,1,2.0,39728.0,39962.0,0.094769,0.099069,0.085788,0.089254
16580,b382c6,1,1,2.5,46292.0,46614.0,0.098419,0.103553,0.088732,0.092829
16581,b382c6,1,1,3.0,54743.0,55111.0,0.102662,0.106839,0.092122,0.095424
16582,b382c6,1,1,3.5,61702.0,62025.0,0.105523,0.108779,0.094388,0.096946
16583,b382c6,1,1,4.0,69812.0,70399.0,0.110611,0.113737,0.098376,0.100801
16584,b382c6,1,1,4.5,75136.0,75701.0,0.117840,0.120315,0.103953,0.105840
16585,b382c6,1,1,5.0,81550.0,82295.0,0.126450,0.127493,0.110460,0.111238
16586,b382c6,1,1,5.5,85844.0,86483.0,0.131657,0.133263,0.114324,0.115504

In [53]:
row = exp.loc[16581]
mean_c = row['mean_c']      
mean_t = row['mean_t']       
var_c = row['variance_c']    
var_t = row['variance_t']   
n_c = row['count_c']        
n_t = row['count_t']

In [54]:
se = np.sqrt((var_c / n_c) + (var_t / n_t))
print(f"Standard Error: {se:.6f}")

Standard Error: 0.001848

In [55]:
## 6. Calculate Z-Score

z = (mean_t - mean_c) / se
print(f"Z-score: {z:.4f}")

Z-score: 2.2608

In [56]:
## 7. Calculate P-value

p_value = 2 * norm.sf(abs(z))
print(f"P-value: {p_value:.6f}")

P-value: 0.023774

In [58]:
exp.head(-10)

,experiment_id,variant_id,metric_id,time_since_start,count_c,count_t,mean_c,mean_t,variance_c,variance_t
16577,b382c6,1,1,1.0,23521.0,23523.0,0.079716,0.083408,0.073361,0.076451
16578,b382c6,1,1,1.5,31410.0,31474.0,0.089080,0.092616,0.081145,0.084038
16579,b382c6,1,1,2.0,39728.0,39962.0,0.094769,0.099069,0.085788,0.089254
16580,b382c6,1,1,2.5,46292.0,46614.0,0.098419,0.103553,0.088732,0.092829
16581,b382c6,1,1,3.0,54743.0,55111.0,0.102662,0.106839,0.092122,0.095424
...,...,...,...,...,...,...,...,...,...,...
17092,b382c6,2,1,46.5,272734.0,273050.0,0.238056,0.236524,0.181385,0.180581
17093,b382c6,2,1,47.5,274554.0,274822.0,0.238015,0.236615,0.181364,0.180628
17094,b382c6,2,1,48.5,276855.0,277176.0,0.239118,0.237658,0.181941,0.181176
17095,b382c6,2,1,49.5,279874.0,280057.0,0.240287,0.239169,0.182549,0.181967
17096,b382c6,2,1,50.5,283070.0,283147.0,0.241555,0.240451,0.183206,0.182634